<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>{{.nameandsurname}}</h2>
<form action="/product/search" method="post">
    <label for="fer">Name of Item </label>
    <input type="text" name="name" id="fer" placeholder="item">
    <input type="submit">
</form>

<form action="/product/filter" method="post">
    <label for="fer">Filter of Item </label>
    <input type="number" name="fromorder" id="fer1" placeholder="item">
    <input type="number" name="toorder" id="fer2" placeholder="item">
    <input type="submit">
</form>






<table border="1">
<tr>

    <td>Id</td>
    <td>Name</td>
    <td>Photo</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Action</td>
</tr>
{{range .products}}


<tr>

    <td>{{.Id}}</td>
    <td>{{.Name}}</td>
    <td>
        <img src="/static/images/{{.Photo}}" width="120">
    </td>
    <td>{{.Price}}</td>
    <td>{{.Quantity}}</td>
    <td>
        <a href="/cart/buy?id={{.Id}}">Buy</a>
    </td>
</tr>


{{end}}
</table>
<a href="/cart">Cart INFO</a>
</body>
</html>