<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>{{.nameandsurname}}</h2>
<h3>Cart Info</h3>
<table border="1">
<tr>

    <td>Action</td>
    <td>Name</td>
    <td>Photo</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Sub Total</td>
</tr>
{{range .cart}}


<tr>
<td><a href="/cart/remove?id={{.Product.Id}}">Remove</a></td>

    <td>{{.Product.Name}}</td>
    <td>
        <img src="/static/images/{{.Product.Photo}}" width="120">
    </td>
    <td>{{.Product.Price}}</td>
    <td>{{.Quantity}}</td>
    <td>{{total .}}</td>
</tr>

{{end}}
    <tr>
        <td colspan="5" align="right">Total</td>
        <td>{{.total}}</td>

    </tr>
</table>

<a href="/product">Continue Shopping</a>
</body>
</html>